name: CI
on:
  pull_request:
  push:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
#      - name: Set 3.3.3
#        run: sbt ++ 3.3.3
      - name: Build and Test Scala3 JS
        run: sbt ringSeqJS/test
      - name: Build and Test Scala3 JVM
        run: sbt ringSeqJVM/test
#      - name: Set 2.13.13
#        run: sbt ++ 2.13.13
#      - name: Build and Test Scala2 JS
#        run: sbt ringSeqJS/test
#      - name: Build and Test Scala2 JVM
#        run: sbt ringSeqJVM/test
      - name: Scalafix
        run: sbt -v +"scalafixAll --check"
